#surveyComplete,
#surveyNext,
#surveyPrev {
  color: #1ab394;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q_title .sjs-sortablejs-item {
  font-family: "Cambay", sans-serif;
  /* color: #1286d4; */
}

.sv-page__title {
  font-size: 1.2em;
}

/* font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif; */

/* h1 {
  font-family: "Oswald", sans-serif;
} */

div {
  font-family: "Cambay", sans-serif;
}

/* #header {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: block;
  padding: 0.5em 1em 0.5em 1em;
  cursor: default;
  font-family: "Nunito", sans-serif;
} */

.acca {
  float: left;
  min-width: 80px;
  max-width: 4%;
  padding: 10px;
}

.shrm {
  float: right;
  min-width: 100px;
  max-width: 7%;
  padding: 10px;
}

.header h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  position: relative;
  padding: 10px;
}

.header {
  /* padding: 14px 14px; */
  text-align: center;
  color: #000000;
  font-family: "Nunito", sans-serif;
}

.headerText {
  font-size: 1em;
  text-align: left;
  padding: 14px;
  font-family: "Nunito", sans-serif;
  width: 98%;
}
